<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
    <title>Multiverse Sidekick</title> 
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/base.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.10.2.custom.min.css" media="screen" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/multiverse.js"></script>
  </head>
  <body>
    <header>
      <h2><a href="{% url 'home' %}">Sentinels of the Multiverse - Sidekick</a></h2>
    </header>
    {% block content %}{% endblock %}
    <footer>
    </footer>
  </body>
</html>
