body {
  margin: 0 5em;
}

header h2 {
  margin-bottom: 0;
}

footer {
  margin-top: 1em;
}

section.environment-villain, section.heroes {
  overflow: hidden;
}

section.environment-villain .environment {
  float: left;
}

section.environment-villain .villain {
  float: right;
}

section.heroes {
  margin: 0 auto;
  width: 80%;
}

section.heroes div.hero {
  float: left;
  margin-right: 5em;
}

.ui-spinner-input {
  width: 2em;
}
